<div class="footer-top">
  <div class="container">
  <div class="w3-edu-footer-grids foot-left1">
    <div class="col-md-4 foot-left">
      <h3>Chúng Tôi</h3>
    
      <p>Hội nghị quản lý khoa học là một tạp chí học thuật đa ngành có bình duyệt, diễn dàn trong và ngoài nhà trường.</p>
    </div>
    <div class="col-md-4 foot-left">
        <h3>Liên Hệ</h3>
        <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP TP. HCM</p>
      
          <div class="contact-btm">
            <i class="fa fa-map-marker" aria-hidden="true"></i> 
            <p>12 Nguyễn Văn Bảo, P.4, Q.Gò Vấp</p>
            
            
          </div>
          <div class="contact-btm">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>+(84) 1686177778 </p>
          <div class="contact-btm">
          </div>
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
            <p><a href="mailto:example@email.com">imucyou@gmail.com</a></p>
          </div>
          <div class="clearfix"></div>

    </div>
    <div class="col-md-4 foot-left">
    <h3>Đăng Ký</h3>
    <p>Tham gia đăng ký tại đây để được nhận thông và những bài viết mới nhất!</p>
    <form action="#" method="post">	
        <input type="email" Name="Enter Your Email" placeholder="Enter Your Email" required="">
      <input type="submit" value="Subscribe">
    </form>
    </div>
      <div class="clearfix"></div>
  </div>

  </div>
</div>
<!-- /footer-top -->							

<!-- footer -->
    <div class="copy-right">
      <p>&copy; Trên nền tảng Open Journal Systems | Thực hiện bởi <a href="#">Khoa Công nghệ Thông tin</a></p>
    </div>
