<div class="w3-edu-main content " id="contact">
      <div class="col-md-8 col-md-offset-2 w3-edu-online-form w3_mail_grids">
      <h3>Gửi bài báo</h3>
      <form action="#" method="post">
          <div class="w3_agile_mail_grid">
            <input type="text" placeholder="Tiêu đề"  required="">
            <textarea name="tacgia" placeholder="Tác giả" required=""></textarea>
            <input type="text" placeholder="Từ khóa" required="">
            <textarea name="tomtac" placeholder="Tóm tắc" required=""></textarea>
            <select id="category1" required="">
              <option value="">Course type*</option>
              <option value="">Diploma</option>
              <option value="">Full time</option>
              <option value="">Part time</option>
              <option value="">Higher degree</option>
              <option value="">Graduate</option>
              <option value="">Pg</option>
              <option value="">Degree</option>
            </select>
            <input type="file" class="form-control-file" placeholder="Gửi File" required=""><br>
            <input type="submit" value="Gửi bài báo">
          </div>
        </form>
  
      </div>
      <div class="clearfix"></div>
      
  </div>

