<div class="team" id="team">
	<div class="container">
		<div class="w3ls-heading">
			<h3>Nhân Sự</h3>
		</div>
		<div class="col-md-6 col-md-offset-3 w3-team-grids">
		<div class="col-md-6 chef agile_team_grid">
			<div class="agileits_w3layouts_team_grid">
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
				
        <img [src]="imgs_team2" class="img-responsive">
			</div>
			<div class="w3-team-head">
			<h3>envo rach</h3>
			<p>chairman</p>
		</div>
		</div>
		<div class="col-md-6 chef agile_team_grid">
			<div class="agileits_w3layouts_team_grid">
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
				<img [src]="imgs_team3" class="img-responsive">
			</div>
			<div class="w3-team-head">
			<h3>steve Balk</h3>
			<p>Incharge</p>
			</div>
			</div>
		<div class="clearfix"></div>
		</div>


	</div>
</div>