<div class="w3-services" id="services">

	<div class="w3-services-head">
	<h3>Chính Sách</h3>
	</div>
	<div class="w3-services-grids">
		<div class="col-md-6 w3-services-left-grid">
			<div class="col-md-6 w3-services-right1-grid">
        <h3>Chính sách truy cập tự do </h3>
        <ul>
          <li><span class="col-md-2">01</span><p class="col-md-10">Tạp chí cho phép truy cập tự do ngay sau khi xuất bản đối với các nội dung xuất bản phẩm của tạp chí.</p></li>
          <li><span class="col-md-2">02</span><p class="col-md-10">Độc giả được khuyến khích đọc, tải về, nhân bản, chia sẻ, in ấn, tìm kiếm, hoặc kết nối với bản toàn văn.</p></li>
          <li><span class="col-md-2">03</span><p class="col-md-10">Độc giả cũng được phép sử dụng các bài báo được công bố trên Tạp chí Khoa học ĐH IUH cho các mục đích hợp pháp và phi thương mại khác.</p></li>
          <li><span class="col-md-2">04</span><p class="col-md-10">Phải phù hợp với các điều khoản ràng buộc của giấy phép <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">International License.</a></p></li>
          <li><span class="col-md-2">05</span><p class="col-md-10">Sẽ không phải trả bất kỳ chi phí nào khi sử dụng dịch vụ của tạp chí đã được công bố bên trên.</p></li>
        </ul>
			</div>
			<div class="col-md-6 w3-services-right1-grid">
			<h3>Quy định về xuất bản</h3>
			<ul>
				<li><span class="col-md-2">01</span><p class="col-md-10">Tạp chí công nhận và cam kết tuân thủ các <strong>Tiêu chuẩn quốc tế về công bố công trình nghiên cứu</strong>, được ban hành bởi <a href="https://publicationethics.org/node/11184">Committee on Publication Ethics </a></p></li>
				<li><span class="col-md-2">02</span><p class="col-md-10">Tạp chí cũng tuân thủ các <strong>Nguyên tắc minh bạch trong xuất bản công trình khoa học </strong>được ban hành bởi COPE; DOAJ; OASPA; và WAME.</p></li>
				<li><span class="col-md-2">03</span><p class="col-md-10">Các tác giả, chuyên gia phản biện, thành viên Hội đồng biên tập của Tạp chí, và các đối tượng khác có liên quan cần cam kết tuân thủ và nghiêm túc thực hiện các quy định này.</p></li>
			</ul>
			</div>
		</div>
		<div class="col-md-6 w3-services-right-grid">
		<div class="col-md-6 w3-services-right1-grid">
						<h3>Quá trình phản biện</h3>
						<ul>
							<li><span class="col-md-2">01</span><p class="col-md-10">Tạp chí Khoa học ĐH IUH áp dụng quy trình bình duyệt kín hai chiều. Trong quy trình này, (các) tác giả và (các) chuyên gia phản biện sẽ không có thông tin về nhau.</p></li>
							<li><span class="col-md-2">02</span><p class="col-md-10">Tạp chí Khoa học ĐH IUH đăng tải các bài báo nghiên cứu và các bài báo tổng quan. Mỗi bản thảo gửi đăng sẽ được thẩm định bởi một thành viên Hội đồng biên tập Chuyên san, và được bình duyệt bởi ít nhất một chuyên gia phản biện độc lập, không là thành viên của Ban Biên tập.</p></li>
							<li><span class="col-md-2">03</span><p class="col-md-10">Thời gian từ lúc Văn phòng Tạp chí nhận được bản thảo gửi đăng (đáp ứng các yêu cầu về hình thức trình bày được hướng dẫn trong Mẫu bản thảo) đến khi tác giả nhận được ý kiến của (các) chuyên gia phản biện và quyết định của Ban biên tập Tạp chí sẽ không vượt quá ba tháng.</p></li>
						</ul>
		</div>
		<div class="col-md-6 w3-services-right1-grid">
			<h3>Miễn trừ trách nhiệm pháp lý</h3>
		<ul>
				<li><span class="col-md-2">01</span><p class="col-md-10">Trường ĐH IUH không chịu trách nhiệm về bất kỳ chi phí hoặc thiệt hại nào cho dù trực tiếp hay gián tiếp, có liên quan tới hoặc là hậu quả của việc sử dụng hoặc không sử dụng được các nội dung đăng tải trên Tạp chí (phiên bản in và phiên bản trực tuyến).</p></li>
				<li><span class="col-md-2">02</span><p class="col-md-10">Nội dung của các bài báo đăng tải trên Tạp chí thể hiện quan điểm cá nhân của tác giả và các đồng tác giả của bài báo đó, và không nhất thiết phản ảnh quan điểm của Ban biên tập Tạp chí nói riên và của Trường ĐH IUH nói chung.</p></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
		<div class="nhataitro">
				<img [src]="imgs_nhataitro" class="chinhsach">
		</div>
</div>