<div id="about" class="about">
	<div class="container">
	<div class="w3-about-head">
		<h3>Giới Thiệu Tạp Chí</h3>
		</div>
		<div class="w3-agileitsline">
		<h3>Chào mừng đến với website <span>" Tạp Chí Khoa Học Đại học Công Nghiệp "</span>  </h3>
		<p>Là một tạp chí học thuật đa ngành có bình duyệt, diễn đàn cho các nhà khoa học trong và ngoài Nhà trường công bố, trao đổi các kết quả nghiên cứu khoa học. Tạp chí đăng tải các công trình nghiên cứu nguyên tác thuộc các lĩnh vực khoa học và công nghệ,bao gồm: Khoa học Xã hội và Nhân văn; Khoa học Tự nhiên và Công nghệ; Kinh tế và Quản lý. Các số định kỳ của Tạp chí đăng tải các công trình nghiên cứu khoa học dưới dạng bài báo nghiên cứu gốc và bài báo tổng quan.</p> 
		</div>
			<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="col-md-4 agileits_banner_bottom_left">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class=" wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
								<a routerLink="./nhanSu"><i class="fa fa-male" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class=" wthree_banner_bottom_grid_right">	
						<h4>Nhân sự</h4>
						<p>...</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 agileits_banner_bottom_left1">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class=" wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<a routerLink="./chinhSach"><i class="fa fa-book" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class=" wthree_banner_bottom_grid_right">	
						<h4>Chính sách</h4>
						<p>...</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 agileits_banner_bottom_left2">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class=" wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<a routerLink="./noiDungKhac"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class=" wthree_banner_bottom_grid_right">	
						<h4>Nội dung khác</h4>
						<p>...</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //banner-bottom -->
	</div>
</div>