<div class="w3-edu-main content " id="contact">
  <div class="col-md-8 col-md-offset-2 w3-edu-online-form w3_mail_grids">
  <h3>Gửi đánh giá</h3>
  <form action="#" method="post">
      <div class="w3_agile_mail_grid">
        <input type="text" placeholder="Tiêu đề"  required="">
        <textarea name="danhgia" placeholder="Đánh giá" required=""></textarea>
        <input type="file" class="form-control-file" placeholder="Gửi File" required=""><br>
        <input type="submit" value="Gửi bài báo">
      </div>
    </form>

  </div>
  <div class="clearfix"></div>
  
</div>

